<div class="main-wrapper login-body">
    <div class="login-wrapper">
        <div class="container">
            <div class="loginbox">
                <div class="login-left"> <img class="img-fluid" src="assets/img/logo.png" alt="Logo"> </div>
                <div class="login-right">
                    <div class="login-right-wrap">
                        <h1>Đăng nhập</h1>
                        <p class="account-subtitle">Truy cập vào hệ thống</p>
                        <form id="form-login">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Email" id="email-login"
                                    name="email">
                                <span class="form-message"></span>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="password" placeholder="Mật khẩu" id="password-login"
                                    name="password">
                                <span class="form-message"></span>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block" type="submit" id="submit-login">Đăng
                                    nhập</button>
                            </div>
                        </form>
                        <div class="text-center dont-have">Bạn chưa có Tài khoản? <a href="/account/register">Đăng
                                ký</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>