<div class="main-wrapper login-body">
    <div class="login-wrapper">
        <div class="container">
            <div class="loginbox">
                <div class="login-left"> <img class="img-fluid" src="assets/img/logo.png" alt="Logo"> </div>
                <div class="login-right">
                    <div class="login-right-wrap">
                        <h1 class="mb-3">Đăng ký</h1>
                        <form id="form-register" method="POST" action="/account/regist">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Họ và tên" id="username"
                                    name="name">
                                <span class="form-message"></span>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Email" id="email" name="email">
                                <span class="form-message"></span>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="password" placeholder="Mật khẩu" id="password"
                                    name="password">
                                <span class="form-message"></span>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="password" placeholder="Xác nhận mật khẩu"
                                    id="confirmpassword" name="passwordconfirm">
                                <span class="form-message"></span>
                            </div>
                            <div class="form-group mb-0">
                                <button class="btn btn-primary btn-block" type="submit" id="signUp">Đăng ký</button>
                            </div>
                        </form>
                        <div class="text-center dont-have">Bạn đã có tài khoản rồi? <a href="/account/login">Đăng
                                nhập</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>