<div class="page-wrapper">
    <div class="content mt-5">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="page-title">Thiết lập</h4>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <img id="door-image" src="./assets/door/door-close.png" style="width: 100%; height: 100%;">
                    </div>
                    <div class="card-footer d-flex justify-content-center align-items-center">
                        <button type="button" class="btn btn-primary" id="door-button">Tap to open</button>
                    </div>

                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card board1 fill" style="cursor: pointer; -webkit-text-fill-color: #1f2ad5">
                    <a data-toggle="modal" href="#modal_enroll">
                        <div class="card-body">
                            <div class="dash-widget-header">
                                <div>
                                    <h3 class="card_widget_header"></h3>
                                    <h6 class="text-muted">Thêm vân tay</h6>
                                </div>
                                <div class="ml-auto mt-md-3 mt-lg-0"> <span class="opacity-7 text-muted">
                                        <i class="fa-solid fa-plus" style="font-size: 24px; " width="24" height="24"
                                            viewbox="0 0 24 24" fill="none" stroke="#009688" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round">
                                        </i>
                                        <line x1="12" y1="1" x2="12" y2="23"></line>
                                        <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="card board1 fill" style="cursor: pointer; -webkit-text-fill-color: #f00045">
                    <a data-toggle="modal" href="#modal_delete">
                        <div class="card-body">
                            <div class="dash-widget-header">
                                <div>
                                    <h3 class="card_widget_header"></h3>
                                    <h6 class="text-muted">Xóa vân tay</h6>
                                </div>
                                <div class="ml-auto mt-md-3 mt-lg-0"> <span class="opacity-7 text-muted">
                                        <i class="fa-solid fa-xmark" style="font-size: 24px; " width="24" height="24"
                                            viewbox="0 0 24 24" fill="none" stroke="#009688" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round">
                                        </i>
                                        <line x1="12" y1="1" x2="12" y2="23"></line>
                                        <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card board1 fill" style="cursor: pointer;">
                    <a data-toggle="modal" href="#modal_pass">
                        <div class="card-body">
                            <div class="dash-widget-header">
                                <div>
                                    <h3 class="card_widget_header"></h3>
                                    <h6 class="text-muted">Đổi mật khẩu</h6>
                                </div>
                                <div class="ml-auto mt-md-3 mt-lg-0"> <span class="opacity-7 text-muted">
                                        <i class="fa-solid fa-retweet" style="font-size: 24px; " width="24" height="24"
                                            viewbox="0 0 24 24" fill="none" stroke="#009688" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round">
                                        </i>
                                        <line x1="12" y1="1" x2="12" y2="23"></line>
                                        <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card board1 fill" style="cursor: pointer; -webkit-text-fill-color: #f07700">
                    <a data-toggle="modal" href="#modal_timeAuto">
                        <div class="card-body">
                            <div class="dash-widget-header">
                                <div>
                                    <h3 class="card_widget_header"></h3>
                                    <h6 class="text-muted">Đóng tự động</h6>
                                </div>
                                <div class="ml-auto mt-md-3 mt-lg-0"> <span class="opacity-7 text-muted">
                                        <i class="fa-solid fa-stopwatch" style="font-size: 24px; " width="24"
                                            height="24" viewbox="0 0 24 24" fill="none" stroke="#009688"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                        </i>
                                        <line x1="12" y1="1" x2="12" y2="23"></line>
                                        <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
                                        </svg>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-xl-6 col-sm-12 col-12">
                <div class="col-md-12 d-flex">
                    <div class="card card-table flex-fill">
                        <div class="card-header">
                            <h4 class="card-title float-left mt-2">DANH SÁCH VÂN TAY</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-center">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Họ và Tên</th>
                                            <th>Mô tả</th>
                                            <th class="text-center">ID</th>
                                            <th class="text-center">Xóa</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody-list-finger">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modal_enroll" aria-hidden="true" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Thêm vân tay</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span
                                    aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="form-add-finger">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">Tên</label>
                                            <input type="text" class="form-control" placeholder="Nhập tên người dùng">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">Mô tả</label>
                                            <input type="text" class="form-control" placeholder="Nhập tên vân tay">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">ID vân tay</label>
                                            <input type="number" class="form-control"
                                                placeholder="Nhập ID vân tay muốn đăng kí" required>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">Mật khẩu</label>
                                            <input type="password" class="form-control"
                                                placeholder="Nhập mật khẩu mở khóa" required>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-block"
                                    style="background-color: #1f2ad5; color: #fff">Thêm</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modal_delete" aria-hidden="true" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Xóa vân tay</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span
                                    aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="form-remove-finger">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">ID vân tay</label>
                                            <input type="number" class="form-control"
                                                placeholder="Nhập ID vân tay muốn xóa" required>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">Mật khẩu</label>
                                            <input type="password" class="form-control"
                                                placeholder="Nhập mật khẩu mở khóa" required>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-block"
                                    style="background-color: #f00045; color: #fff">Lưu</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modal_pass" aria-hidden="true" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Đổi mật khẩu</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span
                                    aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="form-change-password">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">Mật khẩu cũ</label>
                                            <input type="password" class="form-control"
                                                placeholder="Nhập mật khẩu mở khóa" required>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">Mật khẩu mới</label>
                                            <input type="password" class="form-control" placeholder="Nhập mật khẩu mới"
                                                required>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">Xác nhận mật khẩu mới</label>
                                            <input type="password" class="form-control"
                                                placeholder="Xác nhận mật khẩu mới" required>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-block">Cập nhật</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modal_timeAuto" aria-hidden="true" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Đóng tự động</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span
                                    aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="form-change-time-auto">
                                <div class="row form-row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">Mật khẩu</label>
                                            <input type="password" class="form-control"
                                                placeholder="Nhập mật khẩu mở khóa" required>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-label">Thời gian (s)</label>
                                            <input type="number" class="form-control" step="1000"
                                                placeholder="Thời gian tự động đóng cửa" required>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-block"
                                    style="background-color: #f07700; color: #fff">Lưu</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>